.button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-family: 'Rubik', sans-serif;
  border-radius: 1rem;
  width: 100%;
  background-color: rgba(248, 136, 164, 0.8);
  color: rgba(235, 235, 235, 0.8);
  font-weight: 600;
  font-size: large;
  border: 0;
}

.button:active { background-color: rgba(233, 90, 126, 0.8); color: rgba(255,255,255,0.8)}
